# OSINT Tools
scrapy>=2.11.0          # Web scraping framework
playwright>=1.40.0      # Browser automation
theharvester>=4.0.0     # OSINT data gathering
spyse-python            # OSINT data gathering ALT ??

# AI Integration
requests>=2.31.0        # For making API calls to DeepSeek-Coder

# Password Generation and Evaluation
zxcvbn>=4.4.28          # Password strength evaluation

# GUI Frameworks
## tkinter is built-in, so no need to include it in requirements.txt

# Utilities
python-dotenv>=1.0.0    # For managing environment variables
## argparse is built-in, so no need to include it in requirements.txt
pytest>=7.4.0           # For writing and running tests